/* Center everything in the viewport */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 15px;              
    padding: 30px;
    border-radius: 8px;
    border: solid black 1px;
    width: 400px;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: .3rem;
}
button {
     padding: 12px;
     border-radius: .3rem;
     border: 1px solid #ddd;
}
ul {
    color: red;
    margin: 0;
    font-size: smaller;
}
table{
    margin: 2rem 0;
    width: 400px;
    text-align: center;

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: .5rem;
}
.delete{
    border: 0;
    border-radius: .3rem;
    background-color: red;
    color: white;
    cursor: pointer;
}